body{
    font-family: 'Caveat', cursive;
    font-family: 'DM Serif Display', serif;
    font-family: 'Roboto Mono', monospace;
}
.banner-title{
    font-size: 60px;

}
.feature-card:hover{
    -webkit-box-shadow: 0px -1px 40px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 40px 7px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 40px 7px rgba(0,0,0,0.75);
}
.card{
    transition: 0.3s; 
}
.card:hover{
    /* border: 1px solid red; */
    margin-top: -15px;
      
}